<div class="cookies js-cookies">
    <div class="container">
        <div class="cookies__row">
            <div class="cookies__text">
                Данный сайт собирает cookie-файлы. Продолжая находиться на нашем ресурсе вы соглашаетесь с <a
                    href="#">политикой
                    сбора cookie-файлов.</a>
            </div>
            <button class="cookies__btn js-cookies__close">
                OK
            </button>
        </div>
    </div>
</div>