<header class="page-header {{#if whiteHeader}} page-header--white {{/if}}">
    <div class="container">
        <div class="page-header__row">
            <a href="/" class="page-header__logo">
                <img src="img/logo.svg" alt="Лого" class="page-header__logo-image">
                <img src="img/logo-blue.svg" alt="Лого" class="page-header__logo-image">

            </a>
            <div class="page-header__menu">
                <nav class="page-header__nav">
                    <ul>
                        <li>
                            <a href="#">
                                О компании
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Услуги
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Кейсы
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="page-header__link">
                    <span class="page-header__link-text-wrapper">
                        <span class="page-header__link-text" data-text="Маркетплейсы">
                            Маркетплейсы
                        </span>
                    </span>
                </a>
            </div>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>