{{#extend "layout"}}
    {{#content "main"}}


        <section class="about-intro">

            <div class="container">
                <div class="about-intro__row">
                    <img src="img/about-intro-shape.svg" alt="" class="about-intro__shape">
                    <h1 class="about-intro__heading">
                        О компании
                    </h1>
                    <div class="about-intro__text">
                        <p>
                            С 2016 года мы работаем над решением юридических вопросов в сфере корпоративного,
                            интеллектуального и гражданского права. Наша компания оказывает юридические консультационные
                            услуги, чтобы ведение бизнеса стало проще, и вы могли сконцентрироваться на главном.
                        </p>
                        <p>
                            В 2022 году мы решили объединить наши усилия и создать компанию, которая оказывает услуги в
                            сфере интеллектуальной собственности. Наша цель - упрощение ведения бизнеса, чтобы вы могли
                            сконцентрироваться на главном.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="team">
            <div class="container">
                <div class="team__top-row">
                    <h2 class="section-heading team__heading">
                        Наша команда
                    </h2>
                    <div class="team__desc">
                        Выстраиваем систему быстрой удаленной работы для вашего комфорт
                    </div>
                </div>
                <ul class="team__list">
                    <li class="team__list-item">
                        <div class="team__card">
                            <div class="team__card-top-row">
                                <div class="team__card-image-container">
                                    <img src="img/team/1.jpg" alt="" class="team__card-image">
                                </div>
                                <div class="team__card-content">
                                    <h3 class="team__card-title">
                                        Руслан Николаев
                                    </h3>
                                    <div class="team__card-role">
                                        Управляющий партнер
                                    </div>
                                </div>
                            </div>
                            <div class="team__card-desc">
                                Основатель компании с юридическим стажем более 6 лет, руководитель практики в
                                адвокатской коллегии по вопросам гражданского, интеллектуального и корпоративного права.
                            </div>
                        </div>
                    </li>
                    <li class="team__list-item">
                        <div class="team__card">
                            <div class="team__card-top-row">
                                <div class="team__card-image-container">
                                    <img src="img/team/2.jpg" alt="" class="team__card-image">
                                </div>
                                <div class="team__card-content">
                                    <h3 class="team__card-title">
                                        Александра Макарова
                                    </h3>
                                    <div class="team__card-role">
                                        Старший партнер
                                    </div>
                                </div>
                            </div>
                            <div class="team__card-desc">
                                Основатель компании, юрист в области гражданского права (интеллектуальная собственность,
                                банкротство).
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="reviews js-reviews-slider">
            <div class="container">
                <div class="reviews__top-row">
                    <h2 class="section-heading reviews__heading">
                        Несколько слов<br> от наших клиентов
                    </h2>
                    <div class="reviews__arrows">
                        <button class="reviews__arrow reviews__arrow--prev">
                            <svg width="45" height="45" aria-hidden="true"
                                 class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="reviews__arrow reviews__arrow--next">
                            <svg width="45" height="45" aria-hidden="true"
                                 class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="reviews__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="reviews__card">
                                    <div class="reviews__card-text">
                                        Мы высоко ценим профессионализм сотрудников ООО «СЕК», которые выполняют
                                        оперативно и с положительным результатом поставленные нашей компанией перед ними
                                        задачи
                                    </div>
                                    <div class="reviews__card-bottom-row">
                                        <img src="img/trademarks/1.jpg" alt="" class="reviews__card-trademark">
                                        <div class="reviews__card-author">
                                            Воронин Олег Геннадьевич
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews__card">
                                    <div class="reviews__card-text">
                                        АО «Дикси Юг» было необходимо не допустить регистрацию обозначения по
                                        конкурентной заявке, так как аналогичное обозначение использовалось АО «Дикси
                                        Юг» уже длительное время и компания...
                                    </div>

                                    <div class="reviews__card-bottom-row">
                                        <img src="img/trademarks/2.jpg" alt="" class="reviews__card-trademark">
                                        <div class="reviews__card-author">
                                            Воронин Олег Геннадьевич
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews__card">
                                    <div class="reviews__card-text">
                                        Мы высоко ценим профессионализм сотрудников ООО «СЕК», которые выполняют
                                        оперативно и с положительным результатом поставленные нашей компанией перед ними
                                        задачи
                                    </div>
                                    <div class="reviews__card-bottom-row">
                                        <img src="img/trademarks/1.jpg" alt="" class="reviews__card-trademark">
                                        <div class="reviews__card-author">
                                            Воронин Олег Геннадьевич
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews__card">
                                    <div class="reviews__card-text">
                                        АО «Дикси Юг» было необходимо не допустить регистрацию обозначения по
                                        конкурентной заявке, так как аналогичное обозначение использовалось АО «Дикси
                                        Юг» уже длительное время и компания...
                                    </div>

                                    <div class="reviews__card-bottom-row">
                                        <img src="img/trademarks/2.jpg" alt="" class="reviews__card-trademark">
                                        <div class="reviews__card-author">
                                            Воронин Олег Геннадьевич
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contacts-us">
            <div class="container">
                <h2 class="section-heading contact-us__heading">
                    Развивайте свой бизнес,<br> а регистрацию мы возьмем на себя
                </h2>
                <div class="contacts-us__row">
                    <img src="img/contact-us-icon.svg" alt="" class="contacts-us__icon">
                    <form action="/" method="POST" class="contacts-us__form" data-need-validation="">
                        <div class="contacts-us__form-fields">
                            <div class="contacts-us__form-field">
                                <input type="text" name="name" class="contacts-us__form-input" required=""
                                       placeholder="Имя">
                            </div>
                            <div class="contacts-us__form-field">
                                <input type="tel" name="phone" class="contacts-us__form-input js-phone-input"
                                       required="" data-parsley-phone="" placeholder="Телефон">
                            </div>
                            <div class="contacts-us__form-field">
                                <input type="email" name="email" class="contacts-us__form-input" required=""
                                       placeholder="Почта">
                            </div>
                            <button type="submit" class="contact-us__form-submit" type="submit">
                                Отправить
                            </button>
                            <div class="contacts-us__form-policy">
                                Нажимая на кнопку, я соглашаюсь с <a href="#">политикой конфиденциальности</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}