{{#extend "layout"}}
    {{#content "main"}}


        <section class="page">
            <div class="container">
                <div class="page__row">
                    <img src="img/studio-large.png" alt="" class="page__logo">
                    <div class="page__content">
                        <h1 class="page__main-heading">
                            Регистрация международного товарного знака «I AM STUDIO» на базе уже зарегистрированного
                            знака в РФ
                        </h1>
                        <div class="page__text-content">
                            <h2>
                                Цель
                            </h2>
                            <p>
                                Защитить интересы бизнеса при выходе на международный рынок.
                            </p>
                            <h2>
                                Результат
                            </h2>
                            <p>
                                На базе зарегистрированного знака в РФ получено исключительное право во всех странах,
                                где с данным знаком уже ввозятся товары/оказываются услуги или планируется в ближайшее
                                время.
                            </p>
                            <h2>
                                Суть проекта
                            </h2>
                            <p>
                                Клиент запланировал расширять бизнес на новые 44 страны. Так как все эти страны входят в
                                перечень стран Мадридского Соглашения и Протокола и у клиента имеется зарегистрированный
                                товарный знак в России, то для единовременного распространения действия товарного
                                знака на такое большое количество стран оптимальным вариантом по стоимости и объёму
                                документации была именно международная регистрация.
                            </p>
                            <blockquote>
                                Для всех 44 стран экспертами была оформлена единая заявка установленного образца
                                Международного бюро
                            </blockquote>
                            <p>
                                Так как в список заявленных стран включено США, то помимо заявки была подготовлена
                                декларация использования товарного знака в США и в ходе делопроизводства потребовались
                                дополнительные действия по корректировке формулировок перечня товаров и услуг.
                            </p>
                            <p>
                                Все документы были оперативно поданы в Роспатент и после подтверждения экспертизой
                                Роспатента корректности оформления международной заявки и оплаты всех пошлин (как
                                пошлины Роспатента, так и международных пошлин), материалы заявки были перенаправлены в
                                Международное Бюро Всемирной Организации по Интеллектуальной Собственности.
                            </p>
                            <p>
                                Уже через пару месяцев после подачи заявки товарному знаку клиента был присвоен номер
                                международной регистрации.
                            </p>
                            <p>
                                В виду большого количества заявленных стран общий срок делопроизводства составил около 2
                                лет. По некоторым странам срок был увеличен за счёт оспаривания предварительного отказа
                                или продления срока для оппозиции.
                            </p>
                            <p>
                                При получении положительного решения в Японии, была также произведена оплата пошлины за
                                регистрацию знака (Япония – одна из немногих стран Мадридской системы, где пошлины
                                оплачиваются не только при подаче заявки, но и за регистрацию) и получено Решение о
                                предоставлении охраны на территории Японии.
                            </p>
                            <p>
                                На каждом этапе и по каждой стране эксперты предоставляли всеобъемлющую консультационную
                                и информационную поддержку по первому запросу клиента или при получении корреспонденции
                                из МБ ВОИС
                            </p>
                        </div>
                        <div class="page__bottom-controls">
                            <h4 class="page__bottom-controls-title">
                                Оказанные услуги
                            </h4>
                            <a href="#" class="page__bottom-controls-link">
                                Международная регистрация товарного знака
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-diagonal-arrow">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}