{{#extend "layout"}}
    {{#content "main"}}


        <section class="cases-catalog">
            <div class="container">
                <h1 class="cases-catalog__main-heading">
                    Кейсы
                </h1>
                <ul class="cases-catalog__list">
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Регистрация международного товарного знака «I AM STUDIO» на базе уже
                                    зарегистрированного знака в РФ
                                </h3>
                                <img src="img/trademarks/1.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #FFF5EE;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Успешно отстояли права крупного ритейлера, добившись отзыва заявки третьим
                                    лицом из Роспатента
                                </h3>

                                <img src="img/trademarks/2.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #DEFFF9;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Регистрация коммерческой концессии (франчайзинга) для частных детских садов
                                </h3>

                                <img src="img/trademarks/3.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #FFEFEF;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Успешное признание товарного знака «Победа вкуса» общеизвестным
                                </h3>

                                <img src="img/trademarks/4.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #EEF5FF;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Взыскание компенсации 5 000 000 рублей в рамках дела по защите исключительных прав
                                    клиента
                                </h3>

                                <img src="img/trademarks/5.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-special-card">
                            <div class="case-special-card__bg">
                                <svg width="680" height="426" viewBox="0 0 680 426" fill="none"
                                     xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                                    <g filter="url(#special_card_filter_1)">
                                        <ellipse cx="340" cy="213" rx="220" ry="93"
                                                 fill="url(#special_card_paint_1)"/>
                                    </g>
                                    <defs>
                                        <filter id="special_card_filter_1" x="0" y="0" width="680" height="426"
                                                filterUnits="userSpaceOnUse"
                                                color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                                     result="shape"/>
                                            <feGaussianBlur stdDeviation="60" result="special_card_effect_1"/>
                                        </filter>
                                        <linearGradient id="special_card_paint_1" x1="142.5" y1="131.5" x2="486.968"
                                                        y2="328.636"
                                                        gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#10D192"/>
                                            <stop offset="1" stop-color="#C4DC34"/>
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <div class="case-special-card__content">
                                <div class="case-special-card__tag">
                                    #полезное
                                </div>
                                <h3 class="case-special-card__title">
                                    Какие товарные знаки нельзя зарегистрировать?
                                </h3>
                                <div class="case-special-card__duration">
                                    <svg width="45" height="45" aria-hidden="true"
                                         class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    5 мин
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #DEFFF9;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Регистрация коммерческой концессии (франчайзинга) для частных детских садов
                                </h3>

                                <img src="img/trademarks/3.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Регистрация международного товарного знака «I AM STUDIO» на базе уже
                                    зарегистрированного знака в РФ
                                </h3>
                                <img src="img/trademarks/1.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #FFF5EE;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Успешно отстояли права крупного ритейлера, добившись отзыва заявки третьим
                                    лицом из Роспатента
                                </h3>

                                <img src="img/trademarks/2.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #EEF5FF;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Взыскание компенсации 5 000 000 рублей в рамках дела по защите исключительных прав
                                    клиента
                                </h3>

                                <img src="img/trademarks/5.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-special-card">
                            <div class="case-special-card__bg">
                                <svg width="680" height="426" viewBox="0 0 680 426" fill="none"
                                     xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                                    <g filter="url(#special_card_filter_2)">
                                        <ellipse cx="340" cy="213" rx="220" ry="93"
                                                 fill="url(#special_card_paint_2)"/>
                                    </g>
                                    <defs>
                                        <filter id="special_card_filter_2" x="0" y="0" width="680" height="426"
                                                filterUnits="userSpaceOnUse"
                                                color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                                     result="shape"/>
                                            <feGaussianBlur stdDeviation="60" result="special_card_effect_2"/>
                                        </filter>
                                        <linearGradient id="special_card_paint_2" x1="142.5" y1="131.5" x2="486.968"
                                                        y2="328.636"
                                                        gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#2180FF"/>
                                            <stop offset="1" stop-color="#3AE8FC"/>
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <div class="case-special-card__content">
                                <div class="case-special-card__tag">
                                    #полезное
                                </div>
                                <h3 class="case-special-card__title">
                                    Контрафакт и борьба с правонарушителями
                                </h3>
                                <div class="case-special-card__duration">
                                    <svg width="45" height="45" aria-hidden="true"
                                         class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    4 мин
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #FFEFEF;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Успешное признание товарного знака «Победа вкуса» общеизвестным
                                </h3>

                                <img src="img/trademarks/4.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #FFF5EE;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Успешно отстояли права крупного ритейлера, добившись отзыва заявки третьим
                                    лицом из Роспатента
                                </h3>

                                <img src="img/trademarks/2.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #DEFFF9;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Регистрация коммерческой концессии (франчайзинга) для частных детских садов
                                </h3>

                                <img src="img/trademarks/3.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #EEF5FF;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Взыскание компенсации 5 000 000 рублей в рамках дела по защите исключительных прав
                                    клиента
                                </h3>

                                <img src="img/trademarks/5.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-special-card">
                            <div class="case-special-card__bg">
                                <svg width="680" height="426" viewBox="0 0 680 426" fill="none"
                                     xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                                    <g filter="url(#special_card_filter_3)">
                                        <ellipse cx="340" cy="213" rx="220" ry="93"
                                                 fill="url(#special_card_paint_3)"/>
                                    </g>
                                    <defs>
                                        <filter id="special_card_filter_3" x="0" y="0" width="680" height="426"
                                                filterUnits="userSpaceOnUse"
                                                color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix"
                                                     result="shape"/>
                                            <feGaussianBlur stdDeviation="60" result="special_card_effect_3"/>
                                        </filter>
                                        <linearGradient id="special_card_paint_3" x1="142.5" y1="131.5" x2="486.968"
                                                        y2="328.636"
                                                        gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#F4D03F"/>
                                            <stop offset="1" stop-color="#FB6C34"/>
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <div class="case-special-card__content">
                                <div class="case-special-card__tag">
                                    #полезное
                                </div>
                                <h3 class="case-special-card__title">
                                    Причины досрочного прекращения действия товарного знака
                                </h3>
                                <div class="case-special-card__duration">
                                    <svg width="45" height="45" aria-hidden="true"
                                         class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    4 мин
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card" style="--shape-color: #FFEFEF;">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Успешное признание товарного знака «Победа вкуса» общеизвестным
                                </h3>

                                <img src="img/trademarks/4.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                    <li class="cases-catalog__list-item">
                        <a href="#" class="case-card">
                            <div class="case-card__bg">
                                <svg width="45" height="45" aria-hidden="true"
                                     class="icon-case-card-shape">
                                    <use xlink:href="#case-card-shape"></use>
                                </svg>
                            </div>
                            <div class="case-card__content">
                                <h3 class="case-card__title">
                                    Регистрация международного товарного знака «I AM STUDIO» на базе уже
                                    зарегистрированного знака в РФ
                                </h3>
                                <img src="img/trademarks/1.jpg" alt="" class="case-card__trademark-logo">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

    {{/content}}
{{/extend}}