{{#extend "layout"}}
    {{#content "main"}}


        <section class="intro">
            <div class="intro__bg">
                <img src="img/intro-bg.svg" alt="" class="intro__bg-image">
            </div>
            <div class="container">
                <div class="intro__content">
                    <h1 class="intro__main-heading">
                        Регистрация товарных знаков в России
                    </h1>
                    <div class="intro__text">
                        <p>
                            Поможем удалённо зарегистрировать товарный знак в Роспатенте под ключ
                        </p>
                    </div>
                    <a href="#callback" class="intro__link">
                        Получить консультацию
                        <svg width="45" height="45" aria-hidden="true"
                             class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </section>


        <section class="our-actions">
            <div class="container">
                <div class="our-actions__top-row">
                    <h2 class="section-heading our-actions__heading">
                        Что делаем мы?
                    </h2>
                    <div class="our-actions__description">
                        Обозначение, цель которого обеспечить различие между товарами или услугами разных предприятий.
                        <img src="img/R.svg" alt="" class="our-actions__description-image">
                    </div>
                </div>
                <ul class="our-actions__list">
                    <li class="our-actions__list-item">
                        Бесплатно проверим ваш товарный знак на возможность регистрации
                    </li>
                    <li class="our-actions__list-item">
                        Подберем вам класс МКТУ, проконсультируем по вопросам регистрации
                    </li>
                    <li class="our-actions__list-item">
                        Подадим заявку в электронной форме и <b>сэкономим вам 30%</b> от цены госпошлины
                    </li>
                    <li class="our-actions__list-item">
                        Ответим на все запросы Роспатента после подачи заявки
                    </li>
                    <li class="our-actions__list-item">
                        Сопровождаем до получения свидетельства
                    </li>
                    <li class="our-actions__list-item">
                        Если был получен отказ – доведем до конца за свой счет
                    </li>
                </ul>
            </div>
        </section>
        <section class="steps">
            <div class="container">
                <h2 class="section-heading steps__heading">
                    Как проходит регистрация
                </h2>
                <div class="steps__slider js-steps-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="steps__card">
                                    <div class="steps__card-content">
                                        <div class="steps__card-number">
                                            01
                                        </div>
                                        <h3 class="steps__card-heading">
                                            Подача заявки в SEC
                                        </h3>
                                        <a href="#" class="steps__card-link">
                                            Подать заявку
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-arrow-right">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="steps__card">
                                    <div class="steps__card-content">
                                        <div class="steps__card-number">
                                            02
                                        </div>
                                        <h3 class="steps__card-heading">
                                            Анализ товарного знака на возможность регистрации
                                        </h3>
                                        <div class="steps__card-bottom-row">
                                            <img src="img/steps/1.svg" alt="" class="steps__card-icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="steps__card">
                                    <div class="steps__card-content">
                                        <div class="steps__card-number">
                                            03
                                        </div>
                                        <h3 class="steps__card-heading">
                                            Подача заявки в Роспатент на регистрацию
                                        </h3>
                                        <div class="steps__card-bottom-row">
                                            <img src="img/steps/2.svg" alt="" class="steps__card-icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="steps__card">
                                    <div class="steps__card-content">
                                        <div class="steps__card-number">
                                            04
                                        </div>
                                        <h3 class="steps__card-heading">
                                            Формальная экспертиза Роспатента
                                        </h3>

                                        <div class="steps__card-bottom-row">
                                            <div class="steps__card-duration">
                                                <svg width="45" height="45" aria-hidden="true"
                                                     class="icon-clock">
                                                    <use xlink:href="#clock"></use>
                                                </svg>
                                                1 месяц
                                            </div>
                                            <img src="img/steps/3.svg" alt="" class="steps__card-icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="steps__card">
                                    <div class="steps__card-content">
                                        <div class="steps__card-number">
                                            05
                                        </div>
                                        <h3 class="steps__card-heading">
                                            Экспертиза Роспатента по существу
                                        </h3>

                                        <div class="steps__card-bottom-row">
                                            <div class="steps__card-duration">
                                                <svg width="45" height="45" aria-hidden="true"
                                                     class="icon-clock">
                                                    <use xlink:href="#clock"></use>
                                                </svg>
                                                6 месяцев
                                            </div>
                                            <img src="img/steps/4.svg" alt="" class="steps__card-icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="steps__card">
                                    <div class="steps__card-content">
                                        <div class="steps__card-number">
                                            06
                                        </div>
                                        <h3 class="steps__card-heading">
                                            Решение о регистрации товарного знака
                                        </h3>
                                        <div class="steps__card-bottom-row">
                                            <div class="steps__card-duration">
                                                <svg width="45" height="45" aria-hidden="true"
                                                     class="icon-clock">
                                                    <use xlink:href="#clock"></use>
                                                </svg>
                                                1 месяц
                                            </div>
                                            <img src="img/steps/5.svg" alt="" class="steps__card-icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="advantages">
            <div class="container">
                <div class="advantages__top-row">
                    <h2 class="section-heading advantages__heading">
                        Работаем <em>быстро</em>
                    </h2>
                    <div class="advantages__desc">
                        Помочь вам найти оптимальное решение по регистрации вашего товарного знака
                    </div>
                </div>
                <ul class="advantages__list">
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <h3 class="advantages__card-title">
                                Мы работам с Роспатентом онлайн
                            </h3>
                            <div class="advantages__card-text">
                                Такая работа позволяет экономить 30% госпошлины для вас. Мы всегда стремимся уменьшить
                                расходы клиента на регистрацию
                            </div>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <h3 class="advantages__card-title">
                                Молодая команда
                            </h3>
                            <div class="advantages__card-text">
                                Наш коллектив готов гибко подходить к процессу регистрации и общению с вами. Довольный
                                клиент наша лучшая награда
                            </div>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <h3 class="advantages__card-title">
                                Мы гарантируем результат
                            </h3>
                            <div class="advantages__card-text">
                                Мы подаем заявление в Роспатент, и оно точно будет зарегистрировано. Если нет – мы
                                доводим регистрацию до конца за наш счет или возвращаем деньги
                            </div>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <h3 class="advantages__card-title">
                                Мы защитим вас и после регистрации
                            </h3>
                            <div class="advantages__card-text">
                                Вы можете доверить нам защиту ваших интеллектуальных прав после регистрации
                            </div>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <h3 class="advantages__card-title">
                                Мы можем помочь вам
                            </h3>
                            <div class="advantages__card-text">
                                Окажем услуги в создании вашего графического или словесного товарного знака
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>


        <section class="cases js-cases-slider">
            <div class="container">
                <div class="cases__top-row">
                    <div class="cases__heading-wrapper">
                        <h2 class="section-heading cases__heading">
                            Кейсы
                        </h2>
                        <a href="#" class="cases__all-link">
                            Все кейсы
                        </a>
                    </div>

                    <div class="cases__arrows">
                        <button class="cases__arrow cases__arrow--prev">
                            <svg width="45" height="45" aria-hidden="true"
                                 class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="cases__arrow cases__arrow--next">
                            <svg width="45" height="45" aria-hidden="true"
                                 class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="cases__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="case-card">
                                    <div class="case-card__bg">
                                        <svg width="45" height="45" aria-hidden="true"
                                             class="icon-case-card-shape">
                                            <use xlink:href="#case-card-shape"></use>
                                        </svg>
                                    </div>
                                    <div class="case-card__content">
                                        <h3 class="case-card__title">
                                            Регистрация международного товарного знака «I AM STUDIO» на базе уже
                                            зарегистрированного знака в РФ
                                        </h3>

                                        <img src="img/trademarks/1.jpg" alt="" class="case-card__trademark-logo">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="case-card" style="--shape-color: #FFF5EE;">
                                    <div class="case-card__bg">
                                        <svg width="45" height="45" aria-hidden="true"
                                             class="icon-case-card-shape">
                                            <use xlink:href="#case-card-shape"></use>
                                        </svg>
                                    </div>
                                    <div class="case-card__content">
                                        <h3 class="case-card__title">
                                            Успешно отстояли права крупного ритейлера, добившись отзыва заявки третьим
                                            лицом из Роспатента
                                        </h3>

                                        <img src="img/trademarks/2.jpg" alt="" class="case-card__trademark-logo">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="case-card" style="--shape-color: #DEFFF9;">
                                    <div class="case-card__bg">
                                        <svg width="45" height="45" aria-hidden="true"
                                             class="icon-case-card-shape">
                                            <use xlink:href="#case-card-shape"></use>
                                        </svg>
                                    </div>
                                    <div class="case-card__content">
                                        <h3 class="case-card__title">
                                            Регистрация коммерческой концессии (франчайзинга) для частных детских садов
                                        </h3>

                                        <img src="img/trademarks/3.jpg" alt="" class="case-card__trademark-logo">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="case-card">
                                    <div class="case-card__bg">
                                        <svg width="45" height="45" aria-hidden="true"
                                             class="icon-case-card-shape">
                                            <use xlink:href="#case-card-shape"></use>
                                        </svg>
                                    </div>
                                    <div class="case-card__content">
                                        <h3 class="case-card__title">
                                            Регистрация международного товарного знака «I AM STUDIO» на базе уже
                                            зарегистрированного знака в РФ
                                        </h3>
                                        <img src="img/trademarks/4.png" alt="" class="case-card__trademark-logo">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="fast-services">
            <div class="container">
                <h2 class="section-heading fast-services__heading">
                    Быстрые услуги
                </h2>
                <div class="fast-services__row js-tabs">
                    <div class="fast-services__nav">
                        <a href="#" class="fast-services__nav-link js-tabs-btn">
                            Товарные знаки
                        </a>
                        <a href="#" class="fast-services__nav-link js-tabs-btn">
                            Лицензионные договоры
                        </a>
                        <a href="#" class="fast-services__nav-link js-tabs-btn">
                            Патенты
                        </a>
                        <a href="#" class="fast-services__nav-link js-tabs-btn">
                            Споры
                        </a>
                        <a href="#" class="fast-services__nav-link js-tabs-btn">
                            Авторское право
                        </a>
                        <a href="#" class="fast-services__nav-link js-tabs-btn">
                            Защита
                        </a>
                    </div>
                    <div class="fast-services__tabs">
                        <div class="fast-services__tabs-item js-tabs-item">
                            <div class="fast-services__card">
                                <ul class="fast-services__list">
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">

                                            Регистрация товарных знаков


                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">

                                            Ответы на запросы Роспатента

                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">

                                            Подача формы 940

                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">

                                            Экспертиза товарного знака

                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">

                                            Письменная консультация

                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            <span class="fast-services__link-text">
                                                Проверка логотипа на подражание
                                            </span>

                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            <span class="fast-services__link-text">
                                                 Международная регистрация товарного знака
                                            </span>

                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            <span class="fast-services__link-text">
                                                 Ускоренная регистрация товарных знаков
                                            </span>
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="fast-services__tabs-item js-tabs-item">
                            <div class="fast-services__card">
                                <ul class="fast-services__list">
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Регистрация товарных знаков
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Ответы на запросы Роспатента
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Подача формы 940
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Экспертиза товарного знака
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Письменная консультация
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Проверка логотипа на подражание
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Международная регистрация товарного знака
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Ускоренная регистрация товарных знаков
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="fast-services__tabs-item js-tabs-item">
                            <div class="fast-services__card">
                                <ul class="fast-services__list">
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Регистрация товарных знаков
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Ответы на запросы Роспатента
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Подача формы 940
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Экспертиза товарного знака
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Письменная консультация
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Проверка логотипа на подражание
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Международная регистрация товарного знака
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Ускоренная регистрация товарных знаков
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="fast-services__tabs-item js-tabs-item">
                            <div class="fast-services__card">
                                <ul class="fast-services__list">
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Регистрация товарных знаков
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Ответы на запросы Роспатента
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Подача формы 940
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Экспертиза товарного знака
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Письменная консультация
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Проверка логотипа на подражание
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Международная регистрация товарного знака
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Ускоренная регистрация товарных знаков
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="fast-services__tabs-item js-tabs-item">
                            <div class="fast-services__card">
                                <ul class="fast-services__list">
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Регистрация товарных знаков
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Ответы на запросы Роспатента
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Подача формы 940
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Экспертиза товарного знака
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Письменная консультация
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Проверка логотипа на подражание
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Международная регистрация товарного знака
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Ускоренная регистрация товарных знаков
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="fast-services__tabs-item js-tabs-item">
                            <div class="fast-services__card">
                                <ul class="fast-services__list">
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Регистрация товарных знаков
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Ответы на запросы Роспатента
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Подача формы 940
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Экспертиза товарного знака
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Письменная консультация
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Проверка логотипа на подражание
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Международная регистрация товарного знака
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="fast-services__tabs-list-item">
                                        <a href="#" class="fast-services__link">
                                            Ускоренная регистрация товарных знаков
                                            <svg width="45" height="45" aria-hidden="true"
                                                 class="icon-diagonal-arrow">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}