{{#extend "layout"}}
    {{#content "main"}}


        <section class="text-page">
            <div class="container">
                <div class="text-page__row">

                    <div class="text-page__content">
                        <h1 class="text-page__main-heading">
                            Для чего регистрировать товарный знак?
                        </h1>
                        <div class="text-page__text-content">
                            <h2>
                                Коротко
                            </h2>
                            <p>
                                Чтобы вы могли свободно реализовывать свои товары/услуги и не бояться, что кто-то в
                                корыстных целях будет наживаться, используя логотип вашего бренда
                            </p>
                            <h2>
                                Товарный знак
                            </h2>
                            <p>
                                Это объект интеллектуальной собственности (логотип, бренд, торговая марка), иными
                                словами – «картинка», «текст» или все вместе, которые охраняются законом и помогают
                                индивидуализировать ваш товар. Товарный знак помогает отличить товары вашего брендаот
                                товаров конкурентов, поскольку, а) содержится в официальном реестре государства и б)
                                подлежит правовой защите.
                            </p>
                            <p>
                                Представьте ситуацию: ваша компания создает лучшее мыло в городе. Вы сами придумали
                                уникальные формы и рецептуру (взяли старинный бабушкин рецепт), проливали кровь над
                                каждой первой продажей. Жила бы компания так еще сто лет, но тут появляются корыстные
                                конкуренты, которые продают мыло похуже под вашей маркой. Вам поступает огромное
                                количество негативных отзывов о «вашем» товаре, и естественно, вы теряете доверие и
                                прибыль. Но так как заранее вы не зарегистрировали товарный знак, с нарушителями
                                бороться бесполезно. Можно, конечно, проходить кучу инстанций в суде и доказывать, что
                                вы начали продавать это мыло раньше, но это уже совсем другие затраты и силы. Да и не
                                факт, что сработает.
                            </p>
                            <blockquote>
                                При этом в случае использования кем-то вашего товарного знака, вы можете обратиться за
                                правовой защитой в суд и прекратить такое использование, а также взыскать с нарушителя
                                компенсацию или убытки.
                            </blockquote>
                            <h2>
                                Что нужно для регистрации товарного знака
                            </h2>
                            <ul>
                                <li>
                                    заявка на регистрацию;
                                </li>
                                <li>
                                    обозначение вашего товарного знака;
                                </li>
                                <li>
                                    описание обозначения в свободной форме;
                                </li>
                                <li>
                                    перечень товаров и услуг, для которых будете использовать товарный знак,
                                    составленный в соответствии с Международной классификацией товаров и услуг для
                                    регистрации знаков;
                                </li>
                                <li>
                                    подтверждение согласия на обработку персональных данных.
                                </li>
                            </ul>
                            <h2>
                                Этапы регистрации
                            </h2>
                            <ul>
                                <li>
                                    Формальная экспертиза. Проверяется наличие всех документов и форма заявки). На это у
                                    Роспатента уходит 1 месяц.
                                </li>
                                <li>
                                    Экспертиза по существу. Товарный знак проверяется на схожесть с иными товарными
                                    знаками и на соответствие обозначения законодательным требованиям. На это уходит до
                                    6 месяцев.
                                </li>
                                <li>
                                    Оплата государственной пошлины в случае успешного прохождения экспертизы
                                </li>
                                <li>
                                    Регистрация товарного знака Роспатентом и выдача свидетельства. На это уходит до 2
                                    месяцев.
                                </li>
                                <li>
                                    Регистрация товарного знака – длинный процесс и занимает от 6 до 18,5 месяцев. При
                                    наличии правок и изменений данный срок увеличивается.
                                </li>
                                <li>
                                    Однако Роспатентом предусмотрена ускоренная процедура регистрации за два месяца, но
                                    и размер государственной пошлины по такой процедуре существенно выше.
                                </li>
                            </ul>
                            <h2>
                                Какие бывают товарные знаки?
                            </h2>
                            <p>
                                <b>Словесный</b> – текст, а именно сочетание слов или букв на русском или другом языке.
                                Например, Nike или Sony.
                            </p>


                        </div>


                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}