{{#extend "layout"}}
    {{#content "main"}}
        <section class="not-found">
            <div class="container">
                <div class="not-found__content">
                    <div class="not-found__image-wrapper">
                        <div class="not-found__text">
                            Страница не найдена или ее не существует
                        </div>
                        <img src="img/not-found.svg" alt="" class="not-found__image">

                    </div>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}