{{#extend "layout"}}
    {{#content "main"}}


        <section class="services">
            <div class="container">
                <div class="services__categories">
                    <h1 class="services__heading">
                        Услуги
                    </h1>
                    <ul class="services__categories-list">
                        <li class="services__categories-list-item">
                            <a href="#" class="services__categories-link active">
                                Товарные знаки
                            </a>
                        </li>
                        <li class="services__categories-list-item">
                            <a href="#" class="services__categories-link">
                                Лицензионные договоры
                            </a>
                        </li>
                        <li class="services__categories-list-item">
                            <a href="#" class="services__categories-link">
                                Патенты
                            </a>
                        </li>
                        <li class="services__categories-list-item">
                            <a href="#" class="services__categories-link">
                                Споры
                            </a>
                        </li>
                        <li class="services__categories-list-item">
                            <a href="#" class="services__categories-link">
                                Авторское право
                            </a>
                        </li>
                        <li class="services__categories-list-item">
                            <a href="#" class="services__categories-link">
                                Защита
                            </a>
                        </li>
                    </ul>
                </div>
                <h2 class="services__category-heading">
                    Товарные Знаки
                    <span class="services__category-count">
                        8
                    </span>
                </h2>
                <ul class="services__list">
                    <li class="services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Регистрация товарных знаков
                            </h3>
                            <div class="services__card-bottom-row">
                                <div class="services__card-duration">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    1 месяц
                                </div>
                                <div class="services__card-price">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-price">
                                        <use xlink:href="#price"></use>
                                    </svg>
                                    10 000 ₽
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Ответы на запросы Роспатента
                            </h3>
                            <div class="services__card-bottom-row">
                                <div class="services__card-duration">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    1 месяц
                                </div>
                                <div class="services__card-price">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-price">
                                        <use xlink:href="#price"></use>
                                    </svg>
                                    10 000 ₽
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Подача формы 940
                            </h3>
                            <div class="services__card-bottom-row">
                                <div class="services__card-duration">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    1 месяц
                                </div>
                                <div class="services__card-price">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-price">
                                        <use xlink:href="#price"></use>
                                    </svg>
                                    10 000 ₽
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Экспертиза товарного знака
                            </h3>
                            <div class="services__card-bottom-row">
                                <div class="services__card-duration">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    1 месяц
                                </div>
                                <div class="services__card-price">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-price">
                                        <use xlink:href="#price"></use>
                                    </svg>
                                    10 000 ₽
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Письменная консультация
                            </h3>
                            <div class="services__card-bottom-row">
                                <div class="services__card-duration">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    1 месяц
                                </div>
                                <div class="services__card-price">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-price">
                                        <use xlink:href="#price"></use>
                                    </svg>
                                    10 000 ₽
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Проверка логотипа
                            </h3>
                            <div class="services__card-bottom-row">
                                <div class="services__card-duration">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    1 месяц
                                </div>
                                <div class="services__card-price">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-price">
                                        <use xlink:href="#price"></use>
                                    </svg>
                                    10 000 ₽
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Международная регистрация товарного знака
                            </h3>
                            <div class="services__card-bottom-row">
                                <div class="services__card-duration">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    1 месяц
                                </div>
                                <div class="services__card-price">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-price">
                                        <use xlink:href="#price"></use>
                                    </svg>
                                    10 000 ₽
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="services__list-item">
                        <a href="#" class="services__card">
                            <h3 class="services__card-title">
                                Ускоренная регистрация товарных знаков
                            </h3>
                            <div class="services__card-bottom-row">
                                <div class="services__card-duration">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    1 месяц
                                </div>
                                <div class="services__card-price">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-price">
                                        <use xlink:href="#price"></use>
                                    </svg>
                                    10 000 ₽
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

    {{/content}}
{{/extend}}