
.fast-services {
  margin-bottom: 11.5rem;

  @include breakpoint(mobile) {
    margin-bottom: 4rem;
  }
}

.fast-services__heading {
  margin-bottom: 3.5rem;

  @include breakpoint(mobile) {
    margin-bottom: 2rem;
  }
}

.fast-services__row {
  @include breakpointMF(small-tablet) {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-gap: 2.2rem;
    grid-template-areas: 'nav nav nav tabs tabs tabs tabs tabs';
  }


}

.fast-services__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.1rem;


  @include breakpointMF(small-tablet) {
    grid-area: nav;
  }

  @include breakpoint(mobile) {
    flex-direction: row;
    gap: .5rem;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.fast-services__nav-link {
  display: flex;
  align-items: center;
  padding: .3rem 1.2rem;
  padding-top: .2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  text-transform: lowercase;
  transition: background-color .2s, color .2s, border-color .2s;
  border: 1px solid #2D2D2D;
  border-radius: .4rem;

  @include breakpoint(mobile) {
    font-size: 1.8rem;
    padding: .25rem .7rem;
    font-weight: 500;
  }

  &.active {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
  }
}

.fast-services__tabs {
  grid-area: tabs;
  position: relative;
}

.fast-services__tabs-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility 0s linear .4s;

  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity .4s, visibility .4s;
    z-index: 10;
    position: relative;
  }
}

.fast-services__card {
  padding: 3rem 4rem 5rem;
  background: #FFFFFF;
  border: 1px solid #579AF4;
  border-radius: 1.5rem;
  box-shadow: 1.5rem 1.5rem 0 0 #BCD7FB;

  @include breakpoint(mobile) {
    padding: 1.5rem;
    box-shadow: 1rem 1rem 0 0 #BCD7FB;
  }

}

.fast-services__list {


  @include breakpointMF(small-tablet) {
    column-count: 2;
    column-gap: 2.2rem;
  }
}

.fast-services__tabs-list-item {
  break-inside: avoid;
  margin-bottom: 1.5rem;

  @include breakpoint(mobile) {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.fast-services__link {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
  text-decoration: underline;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
  }

  svg {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--primary-color);
    margin-left: .2rem;
    position: relative;
    vertical-align: middle;
  }

  .no-touch &:hover,
  .touch &:active {
    color: var(--primary-color);
  }
}

.fast-services__link-text {

}